name: CI - Puncher App

on:
  push:
    branches: [ "main", "dev" ]
  pull_request:
    branches: [ "main" ]

jobs:
  frontend-check:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./frontend
    steps:
      - uses: actions/checkout@v4
      
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'npm'
          cache-dependency-path: './frontend/package-lock.json'
          
      - name: Install Dependencies
        run: npm ci
        
      - name: Lint Code
        run: npm run lint
        
      - name: Build Frontend
        run: npm run build
        env:
          NEXT_PUBLIC_API_URL: "http://localhost:5000/api" # Mock value for build purposes

  backend-check:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./backend
    steps:
      - uses: actions/checkout@v4
      
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'npm'
          cache-dependency-path: './backend/package-lock.json'
          
      - name: Install Dependencies
        run: npm ci
        
      - name: Verify Server Script Syntax
        run: node --check server.js
